@media((min-width:801px) and (max-width:1374px))
{
    #navigation{
        display: flex;
        flex-direction: column;
    }
    #navigation::before{
        height: 239%;
        width: 109%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .place1{
        margin-left: 52px;
    }
    .logo{
        margin-left: 52px;
    }
    .loginbar{
        position: relative;
        margin-left: 317px;
        left:-300px;
        top:15px;
    }
}
@media (max-width:800px)
{   *{
       padding: 0;
       margin: 0;
     }
     .logo{
        padding: 3px 314px;
     }
     #navigation::before{
        height: 204%;
        width: 152%;
     }
    #navigation{
        box-sizing: border-box;
        display:flex ;
        flex-direction: column;
        padding: 0px 21px;
        /* width: max-content; */
    }
    #navigation ul{
        flex-direction: horizontal;
    }

    .place1{
        display: flex;
        flex-direction: horizontal;
        width: max-content;
    }
    .container{
        flex-direction: column;
        margin: -37px;
        position: relative;
        left: 58px;
    }
    .home h1 h2{
        font-size: 77px;
    }

    .place input{
        width: 374%;
        font-size: 20px;
    }

    #but1{
        width: 107%;
        margin-left: 251px;
    }
    .loginbar{
        position: relative;
        top: 49px;
        left:15px;
        padding: 29px;
    }

    p{
        font-size: 43px;
    }

    #but2{
        font-size: 42px;
    }
}
@media(max-width:450px)
{
    #navigation::before{
        height:270%;
        width:240%;
    }
}
@media(max-width:601px)
{
    #navigation::before{
        width:198%;
        height: 264%;
    }
}
@media(max-width:477px)
{
    #navigation::before{
        width:221%;
        height: 247%;
    }
}
@media(max-width:413px)
{
    #navigation::before{
        width: 232%;
        height: 246%;
    }
}
@media(max-width:382px)
{
    #navigation::before{
        width: 271%;
        height: 316%;
    }
}
